LoRa_Relay1_Master.json
[
    {
        "id": "81f5d16bc9152ce2",
        "type": "tab",
        "label": "플로우 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e0d01298d73a78d8",
        "type": "serial in",
        "z": "81f5d16bc9152ce2",
        "name": "",
        "serial": "90c2d770290e3da8",
        "x": 330,
        "y": 400,
        "wires": [
            [
                "e2fc430744ebc799",
                "11a7252a07f3728c"
            ]
        ]
    },
    {
        "id": "b7f28724454c867b",
        "type": "serial out",
        "z": "81f5d16bc9152ce2",
        "name": "",
        "serial": "90c2d770290e3da8",
        "x": 880,
        "y": 400,
        "wires": []
    },
    {
        "id": "1c2086a6f58dae43",
        "type": "ui_switch",
        "z": "81f5d16bc9152ce2",
        "name": "",
        "label": "Relay 1",
        "tooltip": "",
        "group": "69a51be70afc20b1",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "a",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "b",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 700,
        "y": 400,
        "wires": [
            [
                "b7f28724454c867b"
            ]
        ]
    },
    {
        "id": "11a7252a07f3728c",
        "type": "function",
        "z": "81f5d16bc9152ce2",
        "name": "",
        "func": "var output = msg.payload.split(\",\");\nvar Relay1 = parseFloat(output[0]);\nvar msg = {payload:Relay1};\n\nif(msg.payload == 1){\n    msg.payload = 'a';\n} \nelse {\n    msg.payload = 'b';\n}\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 400,
        "wires": [
            [
                "1c2086a6f58dae43"
            ]
        ]
    },
    {
        "id": "cf4eb9534cfabc29",
        "type": "ui_text",
        "z": "81f5d16bc9152ce2",
        "group": "3777a044448db628",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Control Button",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "x": 720,
        "y": 480,
        "wires": []
    },
    {
        "id": "b669f57105f01764",
        "type": "mqtt in",
        "z": "81f5d16bc9152ce2",
        "name": "",
        "topic": "vegetablestopic/2",
        "qos": "1",
        "datatype": "auto",
        "broker": "8a063b8eb54d670b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 580,
        "wires": [
            [
                "4eceaf427f5dc296",
                "b0a4647f0f488862"
            ]
        ]
    },
    {
        "id": "4eceaf427f5dc296",
        "type": "switch",
        "z": "81f5d16bc9152ce2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "a",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "b",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 660,
        "wires": [
            [
                "422413eed941813f"
            ],
            [
                "422413eed941813f"
            ]
        ]
    },
    {
        "id": "b0a4647f0f488862",
        "type": "debug",
        "z": "81f5d16bc9152ce2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 580,
        "wires": []
    },
    {
        "id": "e2fc430744ebc799",
        "type": "mqtt out",
        "z": "81f5d16bc9152ce2",
        "name": "",
        "topic": "vegetablestopic/1",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a063b8eb54d670b",
        "x": 470,
        "y": 480,
        "wires": []
    },
    {
        "id": "422413eed941813f",
        "type": "serial out",
        "z": "81f5d16bc9152ce2",
        "name": "",
        "serial": "90c2d770290e3da8",
        "x": 820,
        "y": 660,
        "wires": []
    },
    {
        "id": "539c2f7ef099c495",
        "type": "ui_switch",
        "z": "81f5d16bc9152ce2",
        "name": "",
        "label": "Relay 1 Control",
        "tooltip": "",
        "group": "69a51be70afc20b1",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "a",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "b",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 920,
        "y": 480,
        "wires": [
            [
                "f8b7ed3c080a0f75"
            ]
        ]
    },
    {
        "id": "f8b7ed3c080a0f75",
        "type": "serial out",
        "z": "81f5d16bc9152ce2",
        "name": "",
        "serial": "90c2d770290e3da8",
        "x": 1100,
        "y": 480,
        "wires": []
    },
    {
        "id": "2cc231ba65fdfcf9",
        "type": "ui_spacer",
        "z": "81f5d16bc9152ce2",
        "name": "spacer",
        "group": "69a51be70afc20b1",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "8af819deb293c9d2",
        "type": "ui_spacer",
        "z": "81f5d16bc9152ce2",
        "name": "spacer",
        "group": "69a51be70afc20b1",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "90c2d770290e3da8",
        "type": "serial-port",
        "serialport": "COM15",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "69a51be70afc20b1",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "106113ad7aa05de7",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "3777a044448db628",
        "type": "ui_group",
        "name": "Environmental Condition",
        "tab": "ed9396327975311f",
        "order": 1,
        "disp": true,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8a063b8eb54d670b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.mqttdashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "106113ad7aa05de7",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "ed9396327975311f",
        "type": "ui_tab",
        "name": "Farm Project",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
